.wrapper-detail{
	margin: auto 20%;
}
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
p{
	text-align: justify;
	font-family: 'Source Code Pro', monospace;
}
img{
	height: 100%;
	width: 100%;
}

.list-wrapper{
	list-style: none;
}
a:hover{
	color: hotpink;
}
a:link{
	text-decoration: none;
}
.item{
	border-bottom:1px solid #e6e6e6;
	padding: 2%;
	transition: .3s ease;
position: relative;

}
.title{
	color: black;
}
.date{
	color: #b6b6b6;
}
.item:hover{
	box-shadow: 13px 16px 20px -7px rgba(75,75,75,0.25);
-webkit-box-shadow: 13px 16px 20px -7px rgba(75,75,75,0.25);
-moz-box-shadow: 13px 16px 20px -7px rgba(75,75,75,0.25);
}

/*
@media (max-width: 1049px){
	
}
*/
#arrow{
	width: 20px;
	position: absolute;
	top: 40%;
	right: 12px;
	height: 20px;
	transition: 0.3s ease;
	opacity: 0;
}

.item:hover #arrow{
	opacity: 1;
}